@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Lab4.Models.Movie


@{
    ViewBag.Title = "Home";
}

<html>

<body>
    <div class="container" role="main">

        <div class="page-header">
            <h2>Edit Movie</h2>
        </div>

        <form asp-controller="Home" asp-action="ModifyMovie" method="post">
            <input type="hidden" value="@Model.MovieId" name="MovieId" />
            <div class="form-group">
                <label for="Title">Title</label>
                <input class="form-control" asp-for="Title" />
            </div>

            <div class="form-group">
                <label for="SubTitle">SubTitle</label>
                <input class="form-control" asp-for="SubTitle" />
            </div>

            <div class="form-group">
                <label for="Description">Description</label>

                <textarea class="form-control" rows="10" data-val="true" asp-for="Description" data-val-length="The field Description must be a string with a maximum length of 1000." data-val-length-max="1000" data-val-required="The Description field is required." id="Description" name="Description"></textarea>

            </div>
            <div class="form-group">
                <label for="Year">Year</label>
                <input class="form-control" asp-for="Year" />
            </div>

            <div class="form-group">
                <label for="Rating">Rating</label>

                <input class="form-control" asp-for="Rating" />
            </div>
            <br />

            <input type="submit" value="Edit Movie" class="btn btn-default" />
        </form>
    </div>

</body>
</html>



