@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Lab 3</h1>
<h4>Kevin Lai</h4>
<h4>040-812-704</h4>
<a href="/Home/Razor">Razor</a>&nbsp;&nbsp;&nbsp;
<a href="/Home/CreatePerson">Create Person</a>

